* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation - start */

.navbar-content {
  background-color: #B7B7A4;
  
}

.nav-logo {
  text-decoration: none;
}

.logo img{
  width: 100px;
  transform: rotate(20deg);
  opacity: .2;
}

.logo img:hover {
  opacity: .7;
}
