* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #B8F2E6 !important;
}

.nav-wrapper {
  background-color: #5E6472;
}

.brand-logo {
  left: 10% !important;
}

.right {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

