* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1fffe;
}

a {
  color: #B8F2E6 !important;
}

h2 {
  color: #5E6472;
}

input[type="date"], input[type="text"] {
  color: #9e9e9e;
}

.logo {
  font-size: 2rem;
}

.pop {
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  color: #73a097;
}

.links {
  color: #73a097 !important;
}

.theory {
  color: #9e9e9e;
  font-size: 1.5rem;
  padding: 20px;
}

.card {
  border-radius: 30px !important;
}

.card-title {
  color: #ec968e;
  font-weight: bold !important;
}

.card-content p {
  color:  #9e9e9e !important
}

.date-on-page {
  text-align: right !important;
  color: #9e9e9e;
}

.nav-signedout, .nav-signedin {
  display: grid;
  grid-template-columns: auto auto auto;
}

.valid {
  border-bottom: 1px solid #5E6472 !important;
  box-shadow: 0 1px 0 0 #5E6472 !important;
}

.nav-wrapper, footer {
  background-color: #5E6472;
}

.brand-logo {
  left: 10% !important;
}

.right {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-text {
  text-align: center;
  color: #B8F2E6;
}

.footer-text a {
  color: #B8F2E6;
  font-weight: bold;
}

.loading {
  padding: 2rem;
  color: #9bf0df;
  font-weight: bold;
  font-size: 30px;
}

@media screen and (max-width: 500px) {
  .brand-logo {
    transform: translateX(0) !important;
  }
}