* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a {
  color: #B8F2E6 !important;
}

h2 {
  color: #5E6472;
}

input[type="date"], input[type="text"] {
  color: #9e9e9e;
}

.theory {
  color: #9e9e9e;
  font-size: 1.5rem;
  padding: 20px;
}

.card-title {
  color: #ec968e;
}

.valid {
  border-bottom: 1px solid #5E6472 !important;
  box-shadow: 0 1px 0 0 #5E6472 !important;
}

.nav-wrapper, footer {
  background-color: #5E6472;
}

.brand-logo {
  left: 10% !important;
}

.right {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-text {
  text-align: center;
  color: #B8F2E6;
}

.footer-text a {
  color: #B8F2E6;
  font-weight: bold;
}